HappyFriendMemoryGame.WpfBrowserApplication/Service References/ServiceReference1/GameBoardService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HappyFriendMemoryGame.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HappyFriendMemoryGame.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Board">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cards" nillable="true" type="tns:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Board" nillable="true" type="tns:Board" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstGuess" type="xs:boolean" />
      <xs:element minOccurs="0" name="myXCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="myYCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="partnerXCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="partnerYCoordinate" type="xs:int" />
      <xs:element minOccurs="0" name="secondGuess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
</xs:schema>